@font-face {
    font-family: 'EB Garamond';
    src: url('./font/EB_Garamond/EBGaramond-Regular.ttf');
}

@font-face {
    font-family: 'EB Garamond';
    src: url('./font/EB_Garamond/EBGaramond-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('./font/EB_Garamond/EBGaramond-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('./font/EB_Garamond/EBGaramond-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('./font/EB_Garamond/EBGaramond-ExtraBold.ttf');
    font-weight: 800;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('./font/EB_Garamond/EBGaramond-ExtraBoldItalic.ttf');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('./font/EB_Garamond/EBGaramond-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('./font/EB_Garamond/EBGaramond-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('./font/EB_Garamond/EBGaramond-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('./font/EB_Garamond/EBGaramond-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;
}

body {
    font-family: 'EB Garamond', serif;
    font-size: 17px;
}

h1 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

* {
    box-sizing: border-box
}
